body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

h1 { font-size: 3rem; }

.ks-container {
  height: 298px;
  position: relative;
}

div.ks-container img {
  position: absolute;
  transition-timing-function: linear;
  width: 50%;
}
