body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

h1 { font-size: 3rem; }

#ks-container {
  /*height: 400px;*/  /* it appears this is not needed  - div grows when we add something*/
  position: relative;
  /*border: 1px solid blue;*/

  /* padding-top and padding-left will be manipulated by js */
  padding-top: 0px;
  padding-left: 0px;
}

#ks-container div {
  position: absolute;
  transition-timing-function: linear;
  zoom: 1;
  /*border: 1px solid red;*/
}
